<div class="container-sm">
  <h4 class='mb-3'>
    Repositories indexed: <%= number_with_delimiter @hosts.sum(&:repositories_count) %> -
    Commits counted: <%= number_with_delimiter @hosts.sum(&:commits_count) %>
  </h4>

  <%= render @hosts %>
</div>