<% @meta_title = "Open Data Releases" %>
<% @meta_description = "Explore the latest open data releases from the commit stats database, offering insights into code contributions and development activity." %>

<div class="container-sm">
  <h1>Open Data Releases</h1>

  <% if @exports.any? %>
    <%= render @exports %>
  <% else %>
    <p class='my-5'>Coming soon...</p>
  <% end%>
</div>